@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');/* Nav-styling */
.navbar-header{
    font-size: 30px;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.507);
}

.navbar-header a{
    /* color: white; */
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
}
strong{
    font-family: 'Quicksand', sans-serif;
    color: #A16F67;
}
scan{
    font-family: 'Palanquin', sans-serif;
    color: #61433E;
    padding: 5px;
}
nav{
    align-items: center;
    text-align: center;

}
nav >ul{
    list-style: none;
    display: inline;
    /* font-size:10px; */
}
ul>li{
    padding: 6px;
    font-family: 'Salsa', cursive;
    font-size: 16px;
}
nav ul li a{
    color: white;
    text-decoration: none; 
}

nav ul li a:hover{
    color: orange;
}
h1{
    color: white;
    text-align: center;
    padding-top: 15%;
    font-family: 'Quicksand', sans-serif;
    font-size: 150px;
    font-weight: bolder;
}
.tack{
    background: url(/images/books.jpg);
    height: 500px;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
}
.conn{
    background-color: #61433e9c;
    height: 500px;
}
.last{
    font-family: 'Salsa', cursive;
    font-size: 30px;
    color: white;
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Salsa', cursive;
    color: black;
    font-size: 65px;
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:#61433E;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:#A16F67;
}
.wow{
    padding-left: 17%;
    padding-right: 17%;
    padding-top: 7%;
}

/* Footer */
footer{
    background-color: #61433E;
    height: 150px;
    margin-top: 5%;
}
#state{
    display: flex;
    padding-left: 30%;
    
}
.loc{
    padding-left: 5%;
    color: white;
    padding-top: 3%;
}
h4{
    font-family: 'Salsa', cursive;
}
p{
    font-family: 'Quicksand', sans-serif;
}
.cont{
    padding-left: 5%;
    color: white;
    padding-top: 3%; 
}
